nav{
  text-align:center;
  background-color: #000;
}

nav ul{
  list-style-type:none;
  display:inline-block;
}

nav ul li{
  float:left;
}

nav ul li a{
  background-color: #BD2031;
  text-decoration:none;
  padding: 10px;
  display: block;
  color: #fff;
}

nav ul li a:hover{
  background-color: #000;
}

h1{
  clear: both;
}
