body{
  background-color: #FFFFCC;  
}
nav{
  text-align:center;
  background-color: #000;
  height: 47px;
  border-radius: 4px;
}

nav ul{
  list-style-type:none;
  display:inline-block;
}

nav ul li{
  float:left;
}

nav ul li a{
  background-color: #BD2031;
  text-decoration:none;
  padding: 10px;
  display: block;
  color: #fff;
  font-size: 20px;
}

nav ul li a:hover{
  background-color: #000;
}

nav ul li a.active{
  background-color: #000; 
  color: #f0b401;
}

h1{
  margin: 15px 0;
  font-size: 40px;
  font-weight: 500; /*Bold = 700*/
  clear: both;
  font-family: 'Russo One', sans-serif;
  text-align: center;
}

footer{
  position: relative;
  top: 5px;
  clear: both;
}
