.nav_wrapper{
  background-color: #BD2031;
  height: 43px;
}

.body_wrapper{
  width: 75%;
  margin: 0% 12.5%;
}

.paragraph_image{
  float: left;
  margin: 0 10px 0 0;
}

.paragraph_1{ 
  margin: 15px 0;
  font-family: 'Pangolin', cursive;
  font-size: 21px;
}

.other_nav ul{
  list-style-type: none;
  float: right;
}

.other_nav ul li{
  float: left;
}

.other_nav ul li a{
  text-decoration: none;
  color: #000;
  margin: 0 5px;
  font-size: 17px;
}

.other_nav ul li a:hover{
  text-decoration: underline;
}

.other_nav ul li::before{
  content:"|"; 
}

.other_nav ul li:first-child::before{
  content:"";
  margin: 0;  
}



