.nav_wrapper{
  background-color: #BD2031;
  height: 43px;
}

.body_wrapper{
  width: 75%;
  margin: 0% 12.5%;
}

.image_wrapper{
  border: 4px solid #BD2031;
  float: left;
  margin: 0 10px 0 0;
  background-color: #fff;
  padding: 2px;
  border-radius: 20px;
}

/*-------------------------------------Paragraph and Heading styles-------------------------------*/

.resume_content{
  margin: 0 0 0 20px; 
}

.paragraph_image{
  float: left;
  overflow: hidden;
  border-radius: 16px;
}

.paragraph_1{ 
  margin: 15px 0;
  font-family: 'Pangolin', cursive;
  font-size: 21px;
}

.paragraph_2{
  text-align: left;
  font-size: 21px;
  font-family: 'Courgette', cursive;
}

.resumep_wrapper{
  font-family: 'Rhodium Libre', serif; 
}

.author_poetry{
  font-weight: 700; 
}

h3.headings_resume{
  margin: 30px 0 0 0;
}

.minions{
  margin: 0 0 0 20px;
  font-size: 18px;
  font-weight: 500;
}


/*-----------------------------------Secondary Nav Bar------------------------------------------*/

.other_nav ul{
  list-style-type: none;
  float: right;
}

.other_nav ul li{
  float: left;
  margin: 0;
}

.other_nav ul li a{
  text-decoration: none;
  color: #000;
  margin: 0 5px;
  font-size: 17px;
}

.other_nav ul li a:hover{
  text-decoration: underline;
}

.other_nav ul li::before{
  content:"|"; 
}

.other_nav ul li:first-child::before{
  content:"";
  margin: 0;  
}



